
.main-container {
    height: 50vh;
    display: grid;
    place-items: center;
}

.btn-nav-notes {
    vertical-align: top;
    padding: 0 1em;
}

.input-nav-notes {
    padding: 0 1em;
}

.input-nav-notes,
.btn-nav-notes {
    height: 2.2em;
}

.details {
    margin-top: 2em;
}
