@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="secondary-container">
    <h1>@ViewData["Title"]</h1>
    <div class="about-content">
        <p><b></b>Secure Notes</b> is a privacy-first anonymous note sharing service, with notes stored against a unique ID.</p>
        <p>The project is full open-source on <a href="https://github.com/tom-draper/secure-notes">GitHub</a>.</p>
    </div>
</div>