@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container text-center">
    <h1>Secure Notes</h1>
    <div class="flex">
        <!-- Form submission with POST method -->
        <form method="post" asp-page="/Index" class="form-nav-notes">
            <input type="text" placeholder="Note ID" id="noteID" class="input-nav-notes" name="noteID" />
            <button type="submit" class="btn btn-primary btn-nav-notes">Search</button>
        </form>

        <p class="details text-muted">Anonymous notes stored against a unique ID</p>
        <div class="links-container">
            <ul class="links">
                <a class="link text-muted" href="/privacy">/privacy</a>
                <a class="link text-muted" href="/about">/about</a>
                <a class="link text-muted" href="https://github.com/tom-draper/secure-notes" target="_blank">/source</a>
            </ul>
        </div>
    </div>
</div>
