@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container text-center">
    <h1>Secure Notes</h1>
    <div class="flex">
        <form method="post" class="form-nav-notes">
            <input type="text" placeholder="Note ID" id="noteID" class="input-nav-notes" ></input>
            <button type="submit" class="btn btn-primary btn-nav-notes">Enter</button>
        </form>
        <p class="details text-muted">Create and share anonymous note against a unique ID.</p>
    </div>
</div>
