@page "/notes/{NoteID}"
@model NotesModel
@{
    var noteID = Model.NoteID;
}

<div class="notes-container">
    <h2>Notes Page</h2>

    @if (noteID != "")
    {
        <p>You're viewing Note with ID: @noteID</p>
    }
<div>
